volumes:
  loki_data:
    driver: local

networks:
  swarm-net:
    external: true

services:
  loki:
    environment:
      - TZ=America/Sao_Paulo
    image: grafana/loki
    command:
      - -config.file=/etc/loki/local-config.yaml
      - -config.expand-env=true
    deploy:
      placement:
        constraints:
          - node.hostname == fedora-swarm
      mode: replicated
      replicas: 1
    cap_drop:
      - ALL
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/data/loki:z
      - ./loki-config.yaml:/etc/loki/local-config.yaml:z
    networks:
      - swarm-net
